.right-content {
 
background-color: white;
color: #0D3745;
font-family: 'Staatliches', sans-serif;  /* Texto del cuerpo */

  /* otros estilos */
}
html, body {
  margin: 0;
  padding: 01;
}
a{
  color: black;
}
.texto {
  font-family: 'Staatliches', sans-serif;
  font-size: 1.5vw;
  padding: 2rem 2rem 1rem 4rem; /* arriba, derecha, abajo, izquierda */
  color: #0D3745;
  background-color: white;
}
.texto p::first-letter {
  font-size: 2.5vw;
  font-weight: bold;
  color: #E07F3F; /* opcional, puedes elegir otro color si quieres destacarla */
}