.right-content {
 
background-color: white;
color: #0D3745;
font-family: 'Staatliches', sans-serif;  /* Texto del cuerpo */

  /* otros estilos */
}
html, body {
  margin: 0;
  padding: 01;
}
a{
  color: black;
}
.texto{
  font-family: 'Staatliches', sans-serif;
  font-size: 1.5vw;
  padding: 12w;
  color: #0D3745;
}